html, body {
    height: 100%;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background-color: rgb(186, 186, 186);
}

h1 {
    font-size:50px;
}

div {
    overflow: hidden;
}

.design a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 500ms;
}
.design a{
    font-weight: 800;
    color: white;
}
.design a:hover {
    color: yellowgreen;
}

p {
    padding: 0 0;
    box-shadow: none;
}

#header {
    background: rgba(255, 255, 255, .5);
    padding: 3px;
    overflow: hidden;
    height: 75px;
}

#header img {
    float: left;
    box-shadow: none;
    min-width: 70px;
    min-height: 75px;
}

#header ul {
    list-style: none;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}

#header ul li {
    float: left;
    margin-left: 10px;
    font-size: 20px;

}

footer {
    height: 120px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    color: white;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fullscreen {
    height: 95%;
    position: relative;
}

.fullscreen .header {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
}

.white {
    background: #eeeeec;
    padding: 0 5%;
}

.nobg {
    background: none;
    padding: 0 5%;
    color: #fff;
    text-shadow: 0px 0px 4px #000;
}

.semitrans {
    background: rgba(255, 255, 255, .5);
    padding: 0 5%;
}

.dark {
    color: #eeeeec;
    background: #010105;
    padding: 0 5%;
}

.nopadding {
    padding: 0;
}

.floatleft {
    float: left;
    margin: 2%;
}

.floatright {
    float: right;
    margin: 2%;
}

.more {
    text-align: center;
    font-size: 17px;
}

.more a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.more a:hover {
    color: #777;
}

.verline {
    border-left: 2px solid #000;
    height: 60px;
}
.searchcontainer button {
    border: none;
    transition: .8s;
}
.searchcontainer button:hover {
    color: white;
    background-color: #000;
    cursor: pointer;
}

.loginbutton:hover {
    background-color: crimson;
}

.artcon {
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.artimg {
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 450px;
    width: 400px;
    transition: 0.5s ease;
    border-style: none;
    margin-left: 0px;
    top: 20px;
    padding: 0;
}


.dropcon {
    justify-content: center;
    position: relative;
    display: none;
    background-color: #0000005e;
    padding: 5px;
    color:white;
    flex-wrap: wrap;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 5px;
    border:none;
}



.itemspecs {
    display: block;
    background-color: #0026d185;
    padding: 10px;
    color:white;
    border: 1px solid #ccc;
}

.womentop {
    height: 170px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: white;
    position:relative;
    overflow: hidden;
    margin-top: 10px;
    padding-bottom: 35px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.womentop h1{
    font-size: 50px;
    color: #f522ea;
    display: flex;
    justify-content: center;
    position: relative;
}
.womentop h1,h2 {
    transition: .5s;
}
.womentop h1:hover, h2:hover{
    color: crimson;
}
.womentop img {
    height: 0px;
    width: 20px;
}

.mentop {
    height: 170px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    color: white;
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.mentop h1{
    font-size: 50px;
    color: #f522ea;
    display: flex;
    justify-content: center;
    position: relative;
}

.mensbody { 
    height: 100%;
    background: linear-gradient(180deg, rgba(60, 144, 165, 0.575) 0%, rgba(121, 223, 227, 0.616) 30%, rgba(58, 104, 173, 0.589)0%);
    background-blend-mode: hard-light;
    margin: 0;
}


.fullwidth {
    width: 100%;
}

.design {
    background-color: black;
    width: 410px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    margin: 10px;
    transition: .5s;
}


.navbar {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.927);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
}
.navb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.buttonbox {
    padding: 9px;
    background-color:transparent;
    border-radius: 30px;
    transition: .5s;
}
.buttonbox:hover {
    background-color: violet;
}
.buttonbox a:hover {
    color: black;
}
.navb a{
    font-weight: 700;
    color: white;
}

a.onpage{
    color: violet;
}

.Lwindow{
    position:fixed;
    overflow: hidden;
    float: left;
    background-color:#f522ea;
    height: 100%;
    padding-bottom: 20px;
    margin-left: 20px;
    width: 17%;
    color: white;
}
.Lwindow p{
    position: relative;
    top: 140px;
}


.border{
    position: fixed;
    overflow: hidden;
    background-color: #000;
    width: 20px;
    height: 100%;
}

.subnavlogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; 
    z-index: 2;
}

.subnavlogo img {
    width: 80px; 
    height: 80px; 
    margin-right: 35px;
}

.itemspecs{
    display: none;
    background-color: lightskyblue;
}

.searchcontainer{
    background-color: rgb(0, 194, 184);
    border: black 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

}

.searchcontainer button {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    height: 66px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
    transition: .5s;
    border: 1px solid black;
}

.formcontainer input[type= "text"]{
    height: 44px;
    width: 500px;
    padding: 10px 13px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
    margin-top: 25px;
}

.formcontainer ::placeholder {
    font-size: 0.7rem;
    color: rgb(134, 132, 132);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300px;
}

.searchsug {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 15%;
    left: 74.5%;
    right: 30px;
    width: 100%;
    color: white;
    border: 1px solid #ccc;
}

#searchsug li {
    cursor: pointer;
    padding: 5px;
    border: 2px solid black;
}

#searchsug li:hover{
    background-color: aqua;
}
.saveart img {
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    right: 2px;
    bottom: 2px;
}
.saveart{
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    mix-blend-mode: luminosity;
    /* border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius:20%; */
    position: absolute;
    z-index: 1;
    bottom: 105px;
    right:20px;
}
.design:hover {
    box-shadow:  white 0 0 50px inset ;
    box-shadow: 0 0 50px black;
    transform: scale(1.02);
}

.navigation a {
    text-decoration: none;
}
.navigation {
    left: 30%;
    position: fixed;
    bottom: 0;
    width: 500px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: visible;
}
.navigation ul {
    display: flex;
    width: 400px;
}
.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.1em;
    text-align: center;
    color: #000000;
    transition: .5s;
}
.navigation ul li.active a .icon {
    transform: translateY(-34px);
}
.navigation ul li a .text {
    position: absolute;
    color: #000000;
    font-weight: 600;
    font-size: .55em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(17px);
}
.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    /* border: 1.8px solid #00000000; */
    transform: translateY(-37px) scale(0);
}
.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1.2);
}
.indicator {
    position: absolute;
    left: 13%;
    top: -50%;
    width: 68px;
    height: 68px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border: 6px solid #06021b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(65px * 0));
}
.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(65px * 1));
}
.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(65px * 2));
}
.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(65px * 3));
}
.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(65px * 4));
}
.navigation ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(65px * 5));
}

/*keep media at last or some of it wont work */

@media screen and (max-width: 850px) {
    .navbar {
        overflow-y: hidden;
    }

    .navbar a{
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .Lwindow{
        width: 10%;
    }

    .subnavlogo img {
        width: 100px; 
        height: 90px; 
        margin-right: 5px;
        margin-bottom: 60px;
    }

    .formcontainer input[type= "text"]{
        height: 45px;
        width: auto;
        padding: 10px 13px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 20px;
        margin-top: 5px;
    }

}
