body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(167, 167, 167);
    margin: 0;
    padding: 0;
}
div {
    overflow: hidden;
}
button {
    display: none;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
}
.top h2 {
    background: #6AA877;
    background: linear-gradient(45deg, #c72323, #0fe79f);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite ;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3.2em;
    }
    @keyframes color {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }


#savedDivisions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.design {
    background-color: black;
    width: 410px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    backdrop-filter: blur(2px);
    border: 1px solid black;
    box-shadow: 0 0 20px black;
    margin: 10px;
    transition: .5s;
}

.design a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    text-decoration: none;
    transition: 500ms;
}
.design a{
    font-weight: 800;
    color: white;
}
.design a:hover {
    color: yellowgreen;
}

.design:hover {
    box-shadow:  white 0 0 50px inset ;
    box-shadow: 0 0 50px black;
    transform: scale(1.01);
}

.design {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(2px);
}

.dropcon {
    position: relative;
    display: none;
    background-color: #0000005e;
    padding: 5px;
    color:white;
    flex-wrap: wrap;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 5px;
    border:none;
}

.artcon {
    position: relative;
    top: 30px;
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    text-align: center;
}

.artimg {
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 450px;
    width: 400px;
    transition: 0.5s ease;
    border-style: none;
    margin-left: 0px;
    top: 20px;
    padding: 0;
}


.navigation a {
    text-decoration: none;
}
.navigation {
    left: 30%;
    position: fixed;
    bottom: 0;
    width: 500px;
    height: 70px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: visible;
}
.navigation ul {
    display: flex;
    width: 400px;
}
.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.7em;
    text-align: center;
    color: #000000;
    transition: .5s;
}
.navigation ul li.active a .icon {
    transform: translateY(-34px);
}
.navigation ul li a .text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    color: #000000;
    font-weight: 700;
    font-size: .85em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(17px);
}
.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    /* border: 1.8px solid #00000000; */
    transform: translateY(-37px) scale(0);
}
.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1.2);
}
.indicator {
    position: absolute;
    left: 14%;
    top: -50%;
    width: 68px;
    height: 68px;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    border: 6px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(65px * 0));
}
.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(65px * 1));
}
.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(65px * 2));
}
.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(65px * 3));
}
.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(65px * 4));
}
.navigation ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(65px * 5));
}
